<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property> -->
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
 		<!-- <property name="myeclipse.connection.profile">Oracle</property> -->
        
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
<!--         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
     
        <property name="hibernate.connection.username">cadlte</property>
        <property name="hibernate.connection.password">cadlte</property>
       <!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bsb?characterEncoding=utf-8</property> -->
       <property name="hibernate.connection.url">jdbc:oracle:thin:@180.209.64.47:1521:wangjidb</property>
<!--        <property name="hibernate.connection.url">jdbc:mysql://115.28.217.42:3306/ai?characterEncoding=utf-8</property> -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property><!-- 配置显示sql语句 -->
  		<property name="format_sql">true</property><!-- 让输出的sql语句格式化 -->
  		
        
         
        <mapping class="com.ai.user.UserEntity"/>
        <mapping class="com.ai.blog.BlogEntity"/>
        <mapping class="com.ai.image.ImageEntity"/>
        
    </session-factory>
</hibernate-configuration>